.Heading {
  padding: 10px 10px 0;
  display: inline-flex;
  max-height: 100px;
}

.Heading .weather-info {
  display: flex;
  flex: 1;
  margin: 10px 10px 0 0;
}

.weather-info .image {
  height: 55px;
  position: relative;
  top: 5px;
}

.Heading .temp-degree {
  font-weight: bolder;
  font-size: 50px;
  margin: 50px 0 0;
}

.weather-degrees .unit {
  position: relative;
  top: -20px;
  left: 10px;
  font-weight: bolder;
  font-size: 20px;
  max-width: 30px;
}

.Heading .main-data {
  width: 270px;
  margin: 0 10px 0 30px;
  text-align: center;
}

.Heading > .main-data > .current_city {
  margin: 15px 10px 5px;
  font-size: 40px;
}

.Heading .date-data {
  display: flex;
  justify-content: center;
}

.Heading .date-data > span {
  padding: 0 5px;
}

.Heading .description {
  margin: 5px 10px 0px;
  text-transform: capitalize;
}
