.Weather .row {
  display: flex;
  justify-content: center;
}

.Weather .col {
  margin: 5px 10px 10px;
}

.Weather .forecast-temp {
  margin: 10px;
}

.Weather .forecast-temp-max {
  font-weight: bolder;
  margin: 5px;
}

.Weather .forecast-day {
  font-weight: bolder;
  margin: 10px;
}
